<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular to do</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body ng-controller="MainCtrl">
    <input type="checkbox" id="weatherToggle">
    <div id="pageWrap">
    <label for="weatherToggle" class="toggle">☁</label>
        
    <div id="todoList">
    <div class="container" id="input">
        <div class="titleDiv">
            <input type="text" placeholder="title" ng-model="title" id="title" ng-keyup="searchEnter()" required>
        </div>
        <div class="priorityDiv">
            <select ng-model="priority" id="priority" required>
                <option value="" default selected>Priority</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="dueDateDiv">
            <input type="text" placeholder="due date" ng-model="dueDate" id="dueDate" required>
        </div>
        <input type="button" value="✔" ng-click="addTask()">
        <input type="button" value="filters" ng-click="showFilter = !showFilter">
        <div ng-show="showFilter">
            <label>Enter search term</label>
            <input type="text" ng-model="searchFilter">
        </div>
    </div>
    <div id="tableWrapper">
        <form ng-submit="editFormSubmit()" ng-show="editing">
            <input type="text"  ng-model="title" required/>
            <input type="text"  ng-model="priority" required/>
            <input type="text"  ng-model="dueDate" required/>
            <input type="submit" value="save edit" required/>
        </form>
        <table>
            <tr id="tableHead" ng-show="showTableHeaders">
                <th>TASK</th>
                <th>PRIORITY</th>
                <th>DUE DATE</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="task in fbArray | filter: searchFilter">
                <td>{{task.title}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.dueDate}}</td>
                <td><button id="edit" ng-click="showEdit(task)"></button></td>
                <td><button id="delete" ng-click="deleteTodo(task)">✗</button></td>
            </tr>
        </table>
    </div>
    </div>
    <div id="weatherApp">
        <label>latitude:</label>
        <input type="text" ng-model="latitude">
        <label>longitude:</label>
        <input type="text" ng-model="longitude">
        <button ng-click="searchW()" id="searchWeatherButton">check out the weather at this location</button>
        <div id="weather">{{ temp }} {{ sum }}</div>
    </div>
    </div>
    <footer>designed with ♥ by bubbi</footer>
    
    <script src="app.js" type="text/javascript"></script>
    <script src="todo.fac.js"></script>
    
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
</body>
</html>